<mat-card>
  <h1>Sign Up</h1>
  <form  (submit)="signUp(signUpForm)" #signUpForm="ngForm">
    <mat-form-field>
      <input type="text" ngModel #emailInput="ngModel" name="email" matInput required placeholder="Enter your email address"/>
      <mat-error *ngIf="passwordInput.invalid">Email is required.!</mat-error>
      </mat-form-field>
      <mat-form-field>
      <input type="password" ngModel #passwordInput="ngModel" name="password" placeholder="Enter your password" matInput required/>
      <mat-error *ngIf="passwordInput.invalid">Password is required.!</mat-error>
      </mat-form-field>
      <button  mat-raised-button color="accent" type="submit"> Register</button>
  </form>
</mat-card>
