
<mat-card *ngIf="!isLoading">
    <h2> Create Post! </h2>
    <!-- <form (submit)="onAdd(postForm)" #postForm="ngForm"> -->
      <form  [formGroup] = "form" (submit)="onAdd()" >
    <mat-form-field>
      <!-- <input type="text" matInput [(ngModel)]="enteredTitle" /> -->

      <!-- <input type="text" matInput name="title" #title="ngModel" [ngModel]="post?.title" required/> -->
            <input [formControlName]="'title'" type="text" matInput name="title" />
      <mat-error *ngIf="form?.get('title')?.invalid">{{"Please enter a post title"}}</mat-error>
    </mat-form-field>
    <div class="file-picker">
      <button mat-stroked-button (click)="onClick($event)(filepicker)">Upload </button>
      <input type="file" class="filepicker" #filepicker (change)="onImageSelected($event)" />
    </div>

    <div class="image-preview" *ngIf="imgPrev !=='' && imgPrev && !form?.get('image')?.invalid">

      <img [src]="imgPrev" [alt]="form.value.title" />

    </div>
    <mat-form-field>
        <!-- <textarea matInput cols="6" [(ngModel)]="enteredContent"></textarea> -->
        <!-- <textarea matInput cols="6" name="content" #content="ngModel" [ngModel]="post?.content"  required></textarea> -->
        <textarea formControlName="content" matInput cols="6" name="content" ></textarea>
        <mat-error *ngIf="form?.get('content')?.invalid">{{"Please enter a post content"}}</mat-error>
      </mat-form-field>
            <!-- <button mat-raised-button (click)="onAdd()" > Create Post!!</button> -->
         <div>
          <button mat-raised-button color="accent"  type="submit"> {{mode === "edit" ? "Update post" : "Create Post"}}</button>
          <button *ngIf="mode === 'edit'" mat-raised-button color="warn" routerLink="/" type="button"> Cancel</button>
         </div>
     </form>


</mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>

