<mat-accordion multi="true" *ngIf="postList.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of postList">
    <mat-expansion-panel-header>
      <h1>     {{post?.title}}</h1>

    </mat-expansion-panel-header>
    <div class="post-image">

      <img [src]="post?.image" alt="post?.title" />

    </div>
    <p>    {{post?.content}}</p>
    <mat-action-row>
      <button *ngIf="isAuthenticated && post?.createdBy?.email === authService.getUserId()" mat-button color="primary" (click)="editPostById(post.postId)">Edit</button>
      <button *ngIf="isAuthenticated && post?.createdBy?.email === authService.getUserId()" mat-button color="warn" (click)="deletePostById(post.postId)">Delete</button>
      <span >{{post?.createdBy?.email }}</span>
    </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>
<p *ngIf="postList.length == 0 && !isLoading"> No posts added yet!</p>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-paginator *ngIf="postList.length > 0" [length]="totalPosts"
              [pageSize]="offset"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page"
              (page)="onChangePage($event)"
              >
</mat-paginator>
