table,tr,td{
  border: 1px solid black;
}

div{
  display: flex;
  flex-direction: row;
}
ul,li{
  list-style: none;
}

ul{
  display: flex;
  flex-direction: row;
}

th{
  color: purple;
}

table,td,th{
  border: 1px double black;
}

h2{
  color:aqua
}
label{
  color: red;
}
